@import '../ui.css';

.split-pane {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.split-pane--horizontal {
  flex-direction: row;
}

.split-pane--vertical {
  flex-direction: column;
}

.split-pane--dragging {
  cursor: col-resize;
}

.split-pane--dragging.split-pane--vertical {
  cursor: row-resize;
}

.split-pane__pane {
  overflow: hidden;
}

.split-pane__pane--second {
  flex: 1;
}

.split-pane__divider {
  background-color: var(--color-border);
  position: relative;
  z-index: 1;
  transition: var(--transition-fast);
}

.split-pane__divider--horizontal {
  width: 4px;
  cursor: col-resize;
}

.split-pane__divider--vertical {
  height: 4px;
  cursor: row-resize;
}

.split-pane__divider:hover {
  background-color: var(--color-border-dark);
}

.split-pane__divider:active,
.split-pane__divider:focus {
  background-color: var(--color-primary);
  outline: none;
}

.split-pane__divider--disabled {
  cursor: default;
  background-color: var(--color-surface);
}

.split-pane__divider--disabled:hover {
  background-color: var(--color-surface);
}

.split-pane__divider-handle {
  position: absolute;
  background-color: transparent;
  transition: var(--transition-fast);
}

.split-pane--horizontal .split-pane__divider-handle {
  width: 100%;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.split-pane--vertical .split-pane__divider-handle {
  height: 100%;
  width: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.split-pane__divider:hover .split-pane__divider-handle {
  background-color: var(--color-focus);
}

.split-pane__divider:active .split-pane__divider-handle {
  background-color: rgba(25, 118, 210, 0.2);
}

/* Prevent text selection during drag */
.split-pane--dragging * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}