.media {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.intevencion {
    grid-template-columns: 1fr;
}

@media (min-width: 800px) {
    .media {
        grid-template-columns: repeat(2, 1fr);
    }
}