.container {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-top: 20px;
  padding: 15px;
  border-left: 5px solid #007bff;
  background: #e9f2ff;
  border-radius: 5px;
}

.container-grid {
  display: grid;
  word-break: break-word;
}

h2 {
  text-align: center;
}

h3 {
  border-bottom: 1px solid black;
}

.data {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.borderDownRight {
  border-right: white;
  border-bottom: white;
  border-width: 2px;
}

.data span {
  font-weight: normal;
}

.lista {
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; 
  gap: 1rem;
  text-align: center;
  position: relative;
}

.header h2 {
  flex:70%;
}

.header img {
  width: 80px; 
  height: auto;
  flex: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

.collapse {
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .header  {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .container-grid { grid-template-columns: repeat(2, 1fr); }
}